asgiref==3.3.4
blinker==1.4
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.2.1
fastapi==0.65.1
Flask==1.1.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
http-tools==2.0.0
hyperframe==6.0.1
idna==2.10
itsdangerous==2.0.0
Jinja2==3.0.0
kaitaistruct==0.9
ldap3==2.8.1
MarkupSafe==2.0.0
mitmproxy==5.3.0
msgpack==1.0.2
passlib==1.7.4
protobuf==3.13.0
publicsuffix2==2.20191221
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
requests==2.25.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
six==1.16.0
sortedcontainers==2.2.2
starlette==0.14.2
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.4
urwid==2.1.2
uvicorn==0.13.4
uvloop==0.15.2
Werkzeug==2.0.0
wsproto==0.15.0
zstandard==0.14.1
